<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>


<main>
<div class="header">
    <div class="banner">
        <div class="container ">
            <ul class="banner-txt">
              <li class="banner-txt1">Promise-Desert 2020 早春系列</li>
              <li class="banner-txt2">看得清，才能看得遠</li>
              <li class="banner-txt3"><a href="#"> 立即購買</a></li>
              </ul>
      </div>
    </div>
</div>



  <div class="section1">
    <h1>用專業的心，做專業的事</h1>
    <div class="container d-flex">
     
<ul class="section1-ul">
  <li class="section1-img"><p><img src="../assets/images/home-section2-1.png"></p> </li>
  <li class="section1-bp">單一價格</li>
  <li class="section1-sp">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</li>
</ul>
<ul class="section1-ul">
  <li class="section1-img"><img src="../assets/images/home-section2-2.png">   </li>
  <li class="section1-bp">20 分鐘即可取件</li>
  <li class="section1-sp">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</li>
</ul>
<ul class="section1-ul">
  <li class="section1-img"><img src="../assets/images/home-section2-3.png">   </li>
  <li class="section1-bp">安心售後服務</li>
  <li class="section1-sp">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</li>
</ul>
<ul class="section1-ul">
  <li class="section1-img"><img src="../assets/images/home-section2-4.png">   </li>
  <li class="section1-bp">關於鏡片</li>
  <li class="section1-sp">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</li>
</ul>
</div>
</div>


<div class="section2">
  <h1>經典系列鏡框</h1>
<div class="container d-flex">
<ul class="section2-ul-1">
<li class="section2-img-1"><img src="../assets/images/home-section3-1.png "  >   </li>
<li class="section2-bp">OPTICAL</li>

</ul>
<ul class="section2-ul-2">
<li class="section2-img-2"><img src="../assets/images/home-section3-2.png" >   </li>
<li class="section2-bp">SUNGLASSES</li>

</ul>
<ul class="section2-ul-3">
<li class="section2-img-3"><img src="../assets/images/home-section3-3.png" >   </li>
<li class="section2-bp">FUNCTIONAL</li>
</ul>
</div>
</div>



<div class="section4">
  <h1>聯名設計鏡框</h1>
  <div class="section4-1">
      <div class="container d-flex">
       
          <ul class="section4-part1  ">
            <li class="section4-img-3 "><img src="../assets/images/home-section4-1.png" >   </li>
            <li class="section4-txt1 ">DOUBLE A+</li>
           
          </ul>
            <ul class="section4-part2 ">
              <li class="section4-img-3 "><img src="../assets/images/home-section4-2.png" >   </li>
            <li class="section4-txt2">YOUTH</li>
          </ul>
    </div>
  </div>
</div>



<div class="section5">
  <h1>經典系列鏡框</h1>
<div class="container d-flex">

<div class="card card1 w-25" >
  <img src="../assets/images/home-section5-1.png " class="card-img-top" alt="...">
  <div class="card-body">
    <p class="section5-bp1">Jessy</p>
    <p class="section5-bp2">眼鏡品質優良，下次還會想來這邊購買！</p>
    <p class="section5-bp3">2021/06/20</p>
  </div>
</div>


<div class="card card2 w-25" >
  <img src="../assets/images/home-section5-2.png " class="card-img-top" alt="...">
  <div class="card-body">
    <p class="section5-bp1">凱倫</p>
    <p class="section5-bp2">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
    <p class="section5-bp3">2021/04/18</p>
  </div>
</div>

<div class="card card3 w-25" >
  <img src="../assets/images/home-section5-3.png " class="card-img-top" alt="...">
  <div class="card-body">
    <p class="section5-bp1">悠悠</p>
    <p class="section5-bp2">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
    <p class="section5-bp3">2020/12/25</p>
  </div>
</div>


<div class="card card4 w-25" >
  <img src="../assets/images/home-section5-4.png " class="card-img-top" alt="...">
  <div class="card-body">
    <p class="section5-bp1">Kyuan</p>
    <p class="section5-bp2">服務很好，品質沒有任何問題，非常喜歡。</p>
    <p class="section5-bp3">2020/10/31</p>
  </div>
</div>


</div>
</div>
<div class="section6">
  <h1>聯絡我們</h1>
<div class="container2">
  <p class="section6-p1">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
  <p class="section6-p2">姓名</p>
  <input class="imput1" type="text" placeholder="陳小明">
  <p class="section6-p2">聯絡電話</p>
  <input class="imput1" type="text" placeholder="0912-345-678">
  <p class="section6-p2">電子郵件</p>
  <input class="imput1" type="text" placeholder="example@email.com">
  <p class="section6-p2">意見反應</p>
  <input class="imput2" type="text" placeholder="請輸入您的意見">
  <input type="checkbox" name="countries[]">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。<br>
  <div class="section6-but d-flex">
  <button class="SUBMIT" type="button">確認送出!</button>
  </div>
</div>
</div>
  
</main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
